.hidden{
    display: none;
}

html{
    font: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px){
    html{
        
    }
}

@media screen and (min-width: 1200px) {
    html{
        font: 16px;
    }
}